.table td {
    text-align: center;
}

.modal-border {
    border: 1px solid #325D88;
}

.altura-button {
    height: 30px;
}

@media only screen and (max-width: 420px) {
    .altura-button {
        height: 50px;
    }
}